<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Funcionário</title>
</head>
<body>
    <form>
        <table>
            <label>Nome: <input type="text" name="nome"></label><br>
            <label>CPF: <input type="text" name="cpf"></label><br>
            <label>Login: <input type="text" name="login"></label><br>
            <label>Senha: <input type="text" name="senha"></label><br>
            <button type="submit">Enviar</button>
        </table>
    </form>
</body>
</html>